@model WebApp1.MVC.Models.Songs

<p>
    Welcome to Melodify world!!!<br />
    Enjoy the soulful songs
</p>

<h2>🎶 Now Playing & Past Songs</h2>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Song Name</th>
            <th>Author</th>
            <th>Published Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in Model.PastCurrentMusic)
        {
            <tr>
                <td>
                    @Html.ActionLink(song.MusicName, "Details", null, new { Id = song.MusicId }, new { style = "text-decoration:none;color:inherit;" })
                </td>
                <td>@song.Author</td>
                <td>@song.PublishedDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>

<h2>🔜 Upcoming Songs</h2>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Song Name</th>
            <th>Author</th>
            <th>Published Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in Model.UpComingMusic)
        {
            <tr>
                <td>
                    @Html.ActionLink(song.MusicName, "Details", null, new { Id = song.MusicId }, new { style = "text-decoration:none;color:inherit;" })
                </td>
                <td>@song.Author</td>
                <td>@song.PublishedDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
